<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Lista Habitacion</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
	<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Habitaciones de menor a mayor precio </h1>

		<div>
			<div class="table-responsive">
				<table class="table table-white">
					<thead>
						<tr>
							<th scope="col">Descripcion de Habitacion</th>
							<th scope ="col">Distrito</th>
							<th scope ="col">Direccion</th>
							<th scope ="col">Precio</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p:${listaHabitacionPrecio}">
							<td th:text="${p[0]}"></td>
							<td th:text="${p[1]}"></td>
							<td th:text="${p[2]}"></td>
							<td th:text="${p[3]}"></td>
							

						</tr>
					</tbody>

				</table>



			</div>

		</div>




	</div>


</body>
</html>